@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:wght@300&display=swap');

nav ul{
    list-style-type: none;
    font-family: 'Caveat Brush', cursive;
    font-size: 50px;
}

nav{
    background-color: rgb(148, 44, 3);
    color: azure;
    padding: 0 65px;
    display: flex;
    font-size: 30px;
}

.gamecontainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Caveat Brush', cursive;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-size: 40px;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(247, 237, 233);
}

.gameinfo{
    padding: 0 24px;
    font-size: 20px;
}

.gameinfo h1{
    font-size: 70px;
}

.info{
    font-size: 40px;
}

.imagebox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.bt-0{
    border-top: 0px;
}

.bl-0{
    border-left: 0px;
}

.br-0{
    border-right: 0px;
}

.bb-0{
    border-bottom: 0px;
}

#restart{
    margin: 0 23px;
    border-radius: 6px;
    background-color: rgb(253, 236, 226);
    padding: 5px 30px;
    font-size: 25px;
    font-family: 'Caveat Brush', cursive;
    cursor: pointer;
}

.line{
    background-color: rgb(184, 54, 2);
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 900px){
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo h1{
        font-size: 2.5rem;
    }
    .container{
        grid-template-rows: repeat(3,15vw);
        grid-template-columns: repeat(3,15vw);
    }
    .info{
        font-size: 30px;
    }
}


